.custom-container {
  width: 100%;
  padding: 20px;
}

.table-scroll {
  overflow: auto;
  max-height: 700px;
  position: relative;
}

.table-scroll thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  border-color: #5d5e5e;
  background-color: #5d5e5e; 
  color: white; 
}

.table-scroll tbody td:first-child,
.table-scroll thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 9;
}

.table-scroll thead th:first-child {
  z-index: 11;
}

@media (max-width: 768px) {
  .custom-container {
    padding: 10px;
  }
  
  .form-label {
    font-size: 14px;
  }

  .form-select {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }
}

.custom-container img {
  margin-bottom: 20px;
}


.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-container img {
  margin-right: 20px;
}

.header-container h1 {
  margin: 0;
}
